/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
  }
  

       /* Header Section Css */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
  }
  
  .main-nav {
    background-color: white;
    color: rgba(5, 5, 5, 0.866);
    padding: 10px 0;
  }
  
  .main-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-cont img {
    width: 200px;
    height: auto;
    margin-left:-5rem;
  }
  
  .ham-menu-cont {
    display: none;
  }
  
  .full-menu-links {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size:1.2rem;
    margin-right:-2rem;
    gap:1.2rem;
  }
  .full-menu-links ul a {
    padding:1.2rem 2rem 1.2rem 1.1rem;
    color: #333;
    font-size:1.1rem;
    font-weight: bold;
  }
  .full-menu-links  ul a:hover {
        background-color: gray;
    }
  .link-cont {
    margin-right: 15px;
    position: relative;
  }
  
  .link {
    text-decoration: none;
    color: gray;
    padding: 10px 15px;
    display: block;
  }
  
  .first-dropdown {
    display: none;
    position: absolute;
    padding:1.1rem 2rem 1.2rem 2rem;
    color: #333;
    list-style-type: none;
    top: 100%;
    left: -2rem;
    width: 200px;
    z-index: 1;
  }
  
  .first-dd-link {
    background-color: white;
    color: #333;
    text-decoration: none;
    padding: 8px 13px;
    display: block;
  }
  
  
  .link-cont:hover .first-dropdown  {
    display: block;
  }
  
  .responsive-nav-content {
    display: none;
  }
  

       /* About Css */


    .cont {
        margin-top:.2rem;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url("./Image/truck-bg-compressed.jpg");
        height: 111vh; 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom:1rem;
    }
    
    .home {
         display: flex;
         flex-direction: column;
         line-height:5rem;
    
    }
    
    .heading h1 {
        color:white; 
        font-size:4.1rem; 
        padding:14rem 0rem 0rem 5.3rem;
        font-weight: bold
    }
    
    .para {
        color:white;
        padding:2rem 0rem 0rem 5.3rem;
        font-size: 1.1rem; /* Adjust the font size as needed */
        line-height: 2rem;
    }
    
    .links-k{
         display: flex;
         flex-direction: row;
         padding:2rem 0rem 0rem 5.3rem;
         gap:2rem;
    }
    
    .btn-get{
        padding: 21px 85px;
        text-decoration: none;
        color: #fff;
        font-size:1rem;
        font-weight: bold;
        background-color:red; /* Set the button background color */
        cursor: pointer;
    }
    .btn-us{
        padding: 21px 100px;
        text-decoration: none;
        color: #fff;
        font-size:1rem;
        font-weight: bold;
        border: 1px solid #fff;
        cursor: pointer;
        text-transform: uppercase;
    }



       /* Features section Css */
    .features{
      display: flex;
      flex-direction: row;
      margin:-5.2rem 6rem 1rem 6rem;

    }

    .trucking , .ware-house , .cfs ,.commercial{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding:1rem;
    } 
    .trucking img{
      width:280px;
      height: auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .cfs img,
    .commercial img,
    .ware-house img{
      width:280px;
      height: 186px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .text {
      color: rgba(0, 0, 0, 0.808);
      display: flex;
      flex-direction: column;
      margin-top: 2.2rem;
    }
    .text h4{
      padding-left:.8rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.659);
    }
    .text p{
      color: rgba(0, 0, 0, 0.563);
      padding:.5rem 2rem 1rem 0.8rem
    } 



    /* Our story*/
    .story{
      display: flex;
      flex-direction: row;
      gap:3rem;
      margin:8rem 15rem 0rem 4rem;
    }
    .our-story{
      display: flex;
      flex-direction: column;
    }
    .our-story .head-story h2 {
      font-size: 2.4rem;
      color: rgba(0, 0, 0, 0.659);
      font-weight: bold;
      padding: 10rem 4rem 1rem 2rem;
      text-transform: uppercase;
      position: relative;
    }

    .our-story .head-story h2::after {
      content: "";
      display: block;
      width: 40px; /* Adjust the width of the line as needed */
      height: 5px;
      background-color: rgba(255, 0, 0, 0.7);
      position: absolute;
      bottom: 0;
      left:2rem;
    }

    .our-story .story-para p{
      color:rgba(0, 0, 0, 0.521);
      padding:1rem 0rem 0rem 2rem;
    }
    .more-about{
      padding:1.2rem 0rem 0rem 2rem;
      
    }
    .more-about a{
      color: rgba(0, 0, 0, 0.659);
      font-size: .9rem;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration:none;
      border-bottom: 3px solid rgba(0, 0, 0, 0.659);
    }
    .media{
      display: flex;
      flex-direction: column;
    }
    .truck-img img{
      width: 740px;
      height:760px;
    }
    .core-values{
      padding:1rem ;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin:-36rem -10rem 2rem 32rem;
    }
    .core-head h3{
      font-size:1.8rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.659);
      text-transform:uppercase;
      padding-left: 1rem;
    }
    .parap{
      display: flex;
      flex-direction:column;
    }
    .parap p{
      color:rgba(0, 0, 0, 0.521);
    padding:1.5rem 0rem 0rem 1rem;
    }
    .pa{
      display: flex;
      flex-direction: row;
      gap:1rem;
    }
    .icon-cont img {
      margin:1.6rem 0rem 0rem 0rem;
      padding-left:.3rem;
      width:35px;
      height: 33px;
    }


        /* services */
    .services{
      display: flex;
      flex-direction: column;
      gap:3.8rem;
      background:linear-gradient(rgba(246, 11, 11, 0.573),rgba(246, 11, 11, 0.573)) ,url("./Image/truck-bg-compressed.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; 
      margin:2rem 0rem 1rem 0rem;
      height:90vh;
      padding:4rem 0rem 3rem 6rem;
    }
    .name-services h3{ 
      padding:4rem 0rem 1rem 0rem;
      font-size: 2.4rem;
      color:#fff;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
    }
    .name-services h3::after {
      content: "";
      display: block;
      width: 40px; /* Adjust the width of the line as needed */
      height: 5px;
      background-color: rgb(255, 1, 1);
      position: absolute;
      bottom: 0;
      left:.2rem;
    }
    .service{
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
      gap:2rem;
    }

    .service-1,
    .service-2{
      display: flex;
      flex-direction: row;
      gap:1rem

    }
    .Transport,
    .storage ,
    .consulting ,
    .Trucking ,
    .delivers  ,
    .packing {
      display: flex;
      flex-direction: row;
      background-color: #fff;
      margin:0rem 3.7rem 0rem 0rem;
    }
    .Transport .icon ,
    .storage .icon ,
    .consulting .icon,
    .Trucking .icon ,
    .delivers .icon ,
    .packing .icon{
      border:2px dashed  rgb(255, 1, 1);
      color: rgb(255, 1, 1);
      padding:1.2rem .3rem 1.2rem .3rem;
      margin:1.2rem 0rem 1rem 1.2rem;
      width: 80px;
      height:90px;
    }
    .service-text{
      display: flex;
      flex-direction: column;
      color:rgba(0, 0, 0, 0.648);
      font-size:1.7rem;
      padding :1.1rem 0rem .1rem 2rem;
    }
    .service-text h4{
      text-transform: uppercase;
    }
    .service-para p{
      color:rgba(0, 0, 0, 0.5);
      padding:.4rem 2rem 0rem .1rem;
      line-height: 1.7rem;
    }
    .deliveries-1{
      margin-left: .8rem;
    }


        
     /*stats */
    .stats{
      display:flex;
      flex-direction: column;
      gap:3rem;
      margin:2rem 3rem 2rem 3rem;
    }
    .stats h3{
        font-size: 2.4rem;
        padding: 8rem 0rem 1.1rem 8rem;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.648);
        text-transform:uppercase;
        position: relative;
    }
    .stats h3::after{
        content: "";
        display: block;
        width: 40px; /* Adjust the width of the line as needed */
        height: 5px;
        background-color: rgb(255, 1, 1);
        position: absolute;
        bottom: 0;
        left:8rem;
    }
    .stats-text{
      display: flex;
      flex-direction:row;
      margin-left:8rem;
      gap:2rem;
    }
    .stat{
      background-color: #fff;
      border:1px solid #ffffff08;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction:column;
      gap:1rem;
      align-items: center;
      text-align: center;
    }
    .stats-text .icon{
      padding-top:.5rem;
      color: red;
      width:90px;
      height:90px;
    }
    .stat-text{
      display: flex;
      flex-direction: column;
      gap:.3rem;
    }
    .stat-head h5{
      font-size:2rem;
      padding:1rem 0rem 0rem .2rem;
      color:rgba(0, 0, 0, 0.648);
    }
    .stat-para p{
      color:rgba(0, 0, 0, 0.575);
      padding:1rem 2rem 2rem 2rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .1rem;
    }
    .stat-1{
    margin:2rem;
    }

    /* Request a Quote */
.mail{
  display: flex;
  flex-direction: row;
  margin-top: 15rem;
  padding-bottom: 8rem;
  background:linear-gradient(rgba(255, 255, 255, 0.736),rgba(255, 255, 255, 0.736)) ,url("./Image/truck-bg-compressed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 110vh;
  gap:10rem;
}
.request{
  display:flex;
  flex-direction: column;
  padding: 3rem 2rem 0rem 1rem;
}
.request-head h3 {
  padding: 13rem 0rem 1.1rem 8rem;
  color: rgba(0, 0, 0, 0.599);
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.2rem;
  
}

.request-head h3::after {
  content: "";
  display: block;
  width: 40px; /* Adjust the width of the line as needed */
  height: 5px;
  background-color: rgb(255, 1, 1);
  position: absolute;
  bottom:0; /* Adjust the bottom position to align with the text */
  left: 8rem;
}
.request-p > div > p {
  padding: 1rem 0rem 0rem 7.8rem;
  color: rgba(0, 0, 0, 0.577);
}

.para-quote{
  padding:2.5rem 0rem 0rem 7.6rem;
}
.para-quote-p{
  display: flex;
  flex-direction: row;
  gap:2rem;
  line-height:1.5rem;
  
}
.para-quote .icon{
  background-color: green;
  color:#fff;
  border-radius:100%;
  padding:.1rem ;
  margin-bottom:1.5rem;
  
}
.para-quote span{
  padding:0rem;
  color:rgba(0, 0, 0, 0.578);

}

/* form page */
.form-page{
  display: flex;
  flex-direction: column;
  margin:7rem 10rem 0rem 0rem;
  background-color: #fff;
  padding: 2rem;
}
.form-1{
  padding:1.4rem 15rem 1rem 2rem;
  margin:1rem 0rem 2rem 0rem;
  background-color: rgba(0, 174, 255, 0.101);
  border:1px solid rgba(0, 174, 255, 0.101);
}
input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #ccc;
}


input::placeholder {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-transform: uppercase;
}
.submit-form{
  background-color:rgba(255, 0, 0, 0.764);
  color:white;
  text-align: center;
  font-weight: bold;
  font-size:1rem;
  padding:1rem;
  margin-bottom:2rem;
  border:1px solid rgba(255, 0, 0, 0.762);
  cursor:pointer;
}

/* Location */
.location{
  display:flex;
  flex-direction: row;
  background-color:rgba(255, 0, 0, 0.881);
  height:650px;
}
.map img{
  width:740px;
  height: 650px;
}
.find-location{
  display: flex;
  flex-direction: column;
  padding:8rem 0rem 3rem 6rem;
}
.head-find h3{
  font-size:2.4rem;
  color:#fff;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: .8rem;
}
.head-find h3::after{
  content: "";
  display: block;
  width: 30px; 
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom:0; 
  left:0;
}
.location-details,
.mail-Fax-details{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap:4rem;
}
.loc-details,
.call-details,
.mail-1,
.Fax{
  display: flex;
  flex-direction: row;
  gap:2rem;
}
.imgi .icon{
  color:#fff;
  width:80px;
  height:90px;
  padding-top:2.1rem;
}
.text{
  display: flex;
  flex-direction:column;
  gap:1rem;
}
.text .head-text h5{
  color:#fff;
  font-size:1.9rem;
  text-transform: uppercase;  
}
.para-text ul li{
  list-style-type: none;
  color:#fff;
  font-size:1.1rem;
  line-height: 1.7rem;
}





  /* footer */
  .footer-sec{
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      gap: 11rem;
      margin:13rem 0rem 5rem 0rem;
      padding:0rem 1rem 1rem 9.5rem;
  }
  .d-1,
  .d-2,
  .d-3{
      display: flex;
      flex-direction:column;
      gap:2rem;
  }
  .head-footer h4{
      color:rgba(0, 0, 0, 0.478);
      font-size:1.5rem;
      text-transform: uppercase;
      font-weight: bold;
  }
  .content-footer{
      letter-spacing:.1rem;
      line-height: 2.7rem;
      font-size: 1.2rem;
      color:rgba(0, 0, 0, 0.353);
      font-weight: bold;
  }
  
  .d-4{
      display: flex;
      flex-direction: column;
  }
  .company{
      display: flex;
      flex-direction: row;
  }
  .company img{
      width: 40px;
      height:40px;
  }
  .company h4{
      padding:.3rem 0rem 0rem .4rem;
      font-size: 1.7rem;
      font-family: 'ABeeZee', sans-serif;
      font-family: 'Lilita One', sans-serif;
      font-weight: bold;
      letter-spacing:1px;
  }
  .para-f p{
      color:rgba(0, 0, 0, 0.353);
      padding-top: 1.8rem;
      font-weight: bold;
      letter-spacing:1px;
  }
  .logo-site{
      display: flex;
      flex-direction: row;
      margin-top:.8rem;
      gap:.4rem;
      
  }
  .logo-site .icon{
      color:rgba(255, 0, 0, 0.652);
  }
  .bottom p{
      color:rgba(0, 0, 0, 0.578);
      text-align: center;
      font-size:1rem;
      margin:0rem 0rem 3rem 0rem;
  }

  @media (max-width: 768px) {

     /* header-section */
    .logo-cont img{
        width:150px;
        height: auto;
        margin: 0;
    }
    .ham-menu-cont {
      display: block;
      cursor: pointer;
    }
    .ham-menu-cont img{
        width:20px;
        height: 20px;
    }
  
    .full-menu-links {
      display: none;
    }
  
    .responsive-nav-content {
      padding: 10px 0;
    }
  
    .responsive-nav-content ul {
      padding: 0;
      list-style: none;
    }
  
    .responsive-nav-content ul li {
      margin-bottom: 10px;
    
    }
  
    .responsive-nav-content ul li a {
      padding: 10px 15px;
      color: gray;
      font-weight: bold;
      text-align: center;
      align-items: center;
      text-decoration: none;
    }

      /* About section */
      .cont{
        height: 100vh;
      }
      .heading h1{
           font-size:2.2rem;
           padding:4rem 1.5em 0rem 1.4rem;
           line-height:50px;
      }
      .para{
        padding:1rem 2rem 0rem 1.4rem;
        font-size:1.1rem;
        line-height:25px;
      }
      .links-k{
        padding:1rem 2rem 0rem 1.4rem;
        flex-direction: column;
        gap:0rem;
      }
      .btn-get{
        padding:18px 28px;
      }
     .btn-get a,
     .btn-us{
      font-size:.8rem;
     }
     .btn-us{
      padding:18px 50px;
     }


        /* Features section */
        .features{
          flex-direction: column;
          gap:2rem;
          margin:3rem 0rem 1rem 0rem;     
        }
        .trucking , .ware-house , .cfs ,.commercial{
          margin:0rem 1.3rem 0rem 1.3rem;
        }
        .text{
          padding-left: .8rem;
        }
        .text h4{
          font-size:1.3rem;
        }
        .text p{
          font-size:1.1rem;
        }

        
        /* Story Sec */
        .story{
          flex-direction: column;
          margin:-5.2rem 1.3rem 0rem 1rem;
        }
        .our-story .head-story h2{
          font-size:1.8rem;
        }
        .our-story .head-story h2::after {  
          width: 34px; 
          height: 4px;  
        }
        .our-story .story-para p{
            font-size:1.1rem;
        }
        .media{
          padding: 0;
          margin: 0;
        }
        .truck-img img{
           max-width:100%;
           height:400px; 
        }
        .core-values{
          margin:2rem 0rem ;
          box-shadow: none;
          background-color:#f8f8f8;;
        }
        .pa p{
          font-size:1.2rem;
        }


        /* Service -section */

        .services{
          height:190vh;
          padding:2rem 0 2rem 2em;
        }
        .service-1,
       .service-2{
        flex-direction: column;
        gap:1.2rem
        }
        .Transport,
        .storage ,
        .consulting ,
        .Trucking ,
        .delivers  ,
        .packing {
          margin:0rem 1rem 0rem 0rem;
        }
        .Transport .icon ,
        .storage .icon ,
        .consulting .icon,
        .Trucking .icon ,
        .delivers .icon ,
        .packing .icon{
          width: 70px;
          height:75px
        }
        .service-text h4{
          font-size:1.2rem;
        }
        .service-para p{
           font-size:1.1rem;
        }


          /* Stats-section */
        .stats{
          margin:3rem 1rem 0rem 1rem;
        }
        .stats h3{
          font-size:1.8rem;
          padding:1rem 1rem 1rem 1rem;
        }
        .stats h3::after{
          left:1.1rem;
      }
      .stat{
        gap:.8rem;
      }
        .stats-text{
          flex-direction: column;
           margin:.2rem 1.5rem 1rem 1.5rem;
        }
        .stats-text .icon{
          width:60px;
          height:70px;
        }
        .stat-head h5{
          font-size:1.7rem;
        }
        .stat-para p{
          font-size:1.1rem;
        }
        .mail{
          flex-direction: column;
          margin-top:1rem;
          height: 180vh;
        }
        .request{
          padding:2rem 1rem 0rem 1rem;
        }
        .request-head h3{
          padding:3rem 1rem 1rem 1rem;
          font-size:1.7rem;
        }
        .request-head h3::after {
         left: 1rem;
        }
        .request-p > div > p {
          padding: .8rem 0rem 0rem 1rem;
          font-size:1.1rem;
        }
        .para-quote{
          padding:2.5rem 0rem 0rem 1.4rem;
        }
        .para-quote-p{
          gap:.8rem;
        }
        .form-page{
          margin:-7rem 1rem 0rem 1rem;
        }
        .form-1{
          padding:1rem 1rem 1rem 1rem;
          margin:.5rem 0rem 1.6rem 0rem;
        }

        /* location */
        .location{
          flex-direction: column;
          height:1050px;
        }
        .map img{
          max-width:100%;
          max-height:400px;
        }
        .find-location{
          padding:3rem 0rem 1rem 1rem;
        }
        .head-find h3{
          font-size:1.7rem;
          padding-left: 1rem;
        }
        .head-find h3::after{
          content: "";
          display: block;
          width: 30px; 
          height: 5px;
          background-color: #fff;
          position: absolute;
          bottom:0; 
          left:1rem;
        }
        .location-details,
        .mail-Fax-details{
          flex-direction:column;
          margin-top: 1rem;
          gap:1rem;
        }
        .loc-details,
        .call-details,
        .mail-1,
        .Fax{
          gap:0rem;
        }
        .imgi .icon{
          width:65px;
          height:65px;
        }
        .text{
          gap:.6rem;
        }
        .text .head-text h5{
          font-size: 1.1rem;
        }
        .footer-sec{
          flex-direction: column;
          margin:3rem 1rem 0rem 1rem;
          padding:1rem 1rem 0rem 1rem;
          gap:3rem;
        }
      .d-1,
      .d-2,
      .d-3{
        gap:1rem;
      }
      .head-footer h4{
        font-size:1.4rem;
      }
      .f-1,
      .f-2,
      .f-3,
      .f-4,
      .para-f p{
        padding-left:1.2rem;
      }
      .company img{
        width:38px;
        height: 38px;
      }
      .company h4{
        font-size:1.4rem;
      }
      .para-f p{
        margin-top:-1rem;
        letter-spacing:1px;
        font-size:1rem;
      }
      .logo-site{
        padding-left:1.2rem;
        margin-top:1rem;
        margin-bottom:1rem;
      }
      .bottom p{
        margin:1rem 1rem 1rem 1rem;
      }
}
